:root{
    --projectWidth:400px;
    --projectHeight:120px;
    --padding:20px 0;
}
*{
    font-family: 'Open Sans', sans-serif;
    box-sizing:border-box;
}
/*----header section----------*/
header{
    display: flex;
    width:100%;
    font-family: 'Open Sans', sans-serif;
    height: 120px;
    background-color: rgb(1, 1, 131);
    justify-content: space-between;
}
.title{
    margin: 24px;
    align-items: center;

    font-size:48px;
    color: white;
}
.navbar{
    padding:20px;
}
.navbarText{
    color:white;
    display:flex;
    padding: 20px;
 
}
a{
    font-size: 32px;
    margin-right: 20px;
}
.bannerImg{
    width: 100%;
    object-fit: cover;
    height: 100px;
   
}
main{
    display: flex;
    
}
.sideContainer{
    display:flex;
    flex:2;
    padding-left: 100px;
    flex-direction: column;
    justify-content: space-between;
    
}
/*----About section----------*/
.aboutTitle{
    flex:3;
    font-size: 32px;
    padding: 50px 0;
    padding-right: 100px;
    margin-top: 10px;
    border-right: 5px solid black;
}

.contactTitle{
    flex:2;
    font-size: 32px;
    padding: 50px 0;
}
.aboutContent{
    font-size: 24px;
    padding-top: 100px;
    margin-left: 250px;
    margin-right: 80px;
}
/*----Projects section----------*/
.workTitle{
    flex:7;
    font-size: 32px;
    padding: 50px;
    margin-top: 20px ;
    border-right: 5px solid black;
    margin-bottom: 30px;
    
}
.workContent{
    padding-top: 200px;
    margin-left: 250px;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 50px;
}

.cocktailApp{
    -webkit-box-shadow: 0px 0px 15px -3px rgba(0,0,0,0.71); 
    box-shadow: 0px 0px 15px -3px rgba(0,0,0,0.71);
    width: var(--projectWidth);
    height: var(--projectHeight);
  
}
.passwordApp{
    -webkit-box-shadow: 0px 0px 15px -3px rgba(0,0,0,0.71); 
    box-shadow: 0px 0px 15px -3px rgba(0,0,0,0.71);
    width: var(--projectWidth);
    height: var(--projectHeight);
}
.quizApp{
    -webkit-box-shadow: 0px 0px 15px -3px rgba(0,0,0,0.71); 
    box-shadow: 0px 0px 15px -3px rgba(0,0,0,0.71);
    width: var(--projectWidth);
    height: var(--projectHeight);
}
.weatherApp{
    -webkit-box-shadow: 0px 0px 15px -3px rgba(0,0,0,0.71); 
    box-shadow: 0px 0px 15px -3px rgba(0,0,0,0.71);
    width: var(--projectWidth);
    height: var(--projectHeight);
}
.mainImg{
    -webkit-box-shadow: 0px 0px 15px -3px rgba(0,0,0,0.71); 
    box-shadow: 0px 0px 15px -3px rgba(0,0,0,0.71);
    flex:1;
    width:820px;
    height:120px;
    object-fit: cover;
}

.projectCard{
    display: flex;
    flex-wrap: wrap;
}

/*----Footer card with contact info */
footer{
    background-color: blue;
    color: white;
}
.footerCard{
    display: flex;
    margin-left: 600px;
}
.info{
    margin-right: 20px;
}
#contact{
    color:white;
    font-style: normal;
}
#contact .a{
    color:white;
    font-style: normal;
}
@media screen and (max-width: 800px) {
   main {
            display: flex;
            flex-direction: column;
    }
    .aboutContent{
        margin:0;
    }
   .aboutTitle{
        display: none;
        padding: 0;
        margin:0;
    }
    .workTitle{
        display: none;
        padding: 0;
        margin:0;
    }
    .workContent{
        display: block;
        width: 300px;
        padding: 0;
        margin-top: 30px;
        margin:50px;
    }
    .mainImg{
        width:400px;
    }
.navbar{
    display: none;
}
.contactTitle{
    display:none;
}
}

    